# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# production
*/build

# misc
.DS_Store
.env
.env.prod
.env.dev

npm-debug.log*
yarn-debug.log*
yarn-error.log*

cloud/.serverless
cloud/output
cloud/.esbuild
web/public/robots.txt
web/public/sitemap*
web/.next
web/out
web/next-env.d.ts
backup/
.env.*
!.env.example